<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head', {}); %>
    <%- include('headd', {}); %>
    <%- include('background', {}); %>
    <title>详情页</title>
</head>
<style>
   
    .layui-elem-field{
        margin: 100px;
        border: solid 1px #a7a1a1;
    }
    
</style>
<body>
    <fieldset class="layui-elem-field">
        <legend>最新资讯</legend>
        <div class="layui-field-box">
            <p>时间：2021-01-23</p>
          星月月 ---憨瓜瓜----阿巴阿巴
          <img src="img/1.jpg" alt="" srcset="">
          <img src="img/ab.gif" alt="" srcset="">
        </div>
      </fieldset>
      <a href="/">
      <!-- <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">返回首页</button> -->
    </a>
</body>
</html>